token
dados/
dados limpos/
parado/
anomalias/
data.csv
model/medium.joblib
model/small.joblib
log/
*.pyc
**/__pycache__/

# Allow .py files and ignore the rest in pipeline dir
pipeline/*
!pipeline/*.py